@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap.");

* {
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}

body {
    background-image: url(image/background.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.container {
    background-color: white;
    width: 30%;
    height: 100%;
}

.container h2 {
    text-transform: uppercase;
    padding: 1.3em;
}

.container div {
    color: gray;
    padding: 0em 1em 1em 2em;
}

.container div span {
    font-size: 54px;
    font-weight: bold;
    color: black;
}

.container div svg {
    fill: gray;
}

.container h4 {
    color: gray;
    padding: 1em 0em 2em 2em;
}

.container p {
    color: black;
    padding: 0em 1em 1em 0.3em;
}

.container p svg {
    fill: black;
    padding-right: 0.3em;
}

.container button {
    height: 3em;
    width: 8em;
    background-color: black;
    color: white;
    float: left;
    margin: 1em 2em 2em 3em;
    border-radius: 0.5em;
    border: none;
}
