* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgb(238, 238, 238);
    height: 100vh;
    font: 14px/1.5 Helvetica, sans-serif;
}

header, main, footer {
    border: 2px solid black;
    padding: 2em;
}

main {
    flex-grow: 1;
    border-top: none;
    border-bottom: none;
}

footer {
    margin-top: auto;
    background: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
}