body{
    font: 16px/1.5 Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51) ;
    padding: 2em;
}
img{
    width: 40%;
    height: 30%;
}
aside{
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
aside h3{
    text-align: left;
}
article{
    width: 70%;
    display: inline-block;
    margin-right: 4%;
}
ul{
    padding: 0;
}