@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
max-width: 1800px
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-weight: 600;
}

header span {
    color: rgb(0, 89, 130);
}

header h3{
    font-weight: 400;
}

.containers {
    display:  flex;
    gap: 1em;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    width: 25em;
    margin-top: 1em;
    background-color:  rgb(0, 111, 130);
    overflow: hidden;
}

.container img {
    border-radius: 1em;
}

.container h1 {
    font-weight: 400;
    padding: 10px;
}

.container p {
    padding: 0px 10px 10px;
}

.container button {
    align-self: flex-start;
    margin: 0 1em 1em;
    border-radius: 1em;
    text-transform: uppercase;
    padding: 0.8em;
    background-color: aqua;
    box-shadow: 0 0 2em rgba(255, 255, 255, 0.2);
}