header{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
}

header h1{
    font-size: 27px;
    text-transform: uppercase;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li:nth-child(1)
{
    padding-left: 800px;
}

nav ul li a{
    text-decoration: none;
    margin: 10px;
}

a{
    color:rgb(0, 153, 0);
}